body {
    background-color: #ffffff;
    font-family: 'Cantarell', sans-serif;
    overflow-x: hidden;
    padding-top: 5rem;
    width: 100%;
}


.navbar {
    position: fixed;
    width: 100%;
    min-height: 3rem;
}

.navbar-toggler {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-item {
    margin-top: 0;
}

.backCont {
    background-image: url(images/automotive-gauge-motorbike-115145.jpg);
    background-size: cover;
    width: 100%;
    height: 35rem;
}

.h1Cont {
    font-size: 5.5rem;
    font-weight: 300;
    color: #000;
    height: 6rem;
    width: auto;
    text-align: center;
    margin-bottom: 9rem;
    position: relative;
    /*    background-color: rgba(0, 0, 0, 0.7);*/
}

.pCont {
    color: #fff;
    text-align: center;
    width: auto;
    margin-bottom: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 2rem;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.7);
    ;
}

.btn-lg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#btnLink:hover,
#btnLink:active {
    text-decoration: none;
    color: #fff;
}

.about {
    padding: 0rem 5rem .5rem 5rem;
    font-weight: 400;
    background-color: #B9B8B8;
}

.aboutPhoto {
    border: 1px solid #fff;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}

.aboutBody {
    text-align: center;
}

#aboutText {
    padding-bottom: 0rem;
    font-weight: 300;
    font-size: 1.6rem;
}



h1 {
    text-decoration: none;
    padding: 3rem 0 0rem 0;
    width: 100%;
}

#motoBike {}

.street {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px dashed #FFCC00;
    margin: 1em 0;
    padding: 1rem 5rem 0rem 5rem;
}

/*Contact Form CSS*/

#text-feedback {
    margin-left: 70%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #B9B8B8;
    text-align: center;
}

#form-main {
    font-family: 'Cantarell', sans-serif;
    padding-top: 0rem;
    margin-top: 0rem;
    padding-bottom: .2rem;
    text-align: center;
    margin-bottom: 0rem;
    background-color: rgba(0, 0, 0, 0.2);
}


#form-div {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: whitesmoke;
    padding: 2rem;
    padding-bottom: 4rem;
}

#link:visited,
#link:link,
#link:active {
    color: white;
    text-decoration: none;
}

#link:hover {
    color: #FFCC00;
}

::placeholder {
    color: white;
    text-align: left;
}

.feedback-input {
    opacity: 0.9;
    color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #fbfbfb;
    padding: 13px 13px 13px 15px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.feedback-input:focus {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0;
    border: 3px solid #FFCC00;
    color: #FFFFFF;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #FFCC00;
    border: #FFCC00 solid 3px;
}

textarea {
    width: 100%;
    height: 130px;
    line-height: 150%;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#button-blue {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #FFCC00;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #FFCC00;
}

.submit:hover {
    color: #FFCC00;
}

.ease {
    border-top: 3px #3c3c3c solid;
    width: 0px;
    height: 76px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

/*End Contact Form*/

footer {
    align-content: center;
    background-color: #343a40;
    width: 100%;
}

.row {
    padding: 1rem 1rem 1rem 1rem;
}

.col-6 {
    border-right: 1px solid #fff;
}

.copyright {
    font-weight: 300;
    font-size: 1.2rem;
}

.copyright:active,
.copyright:hover,
.copyright:visited {
    color: #fff;
    text-decoration: none;
}

.footNum {
    padding-left: 1rem;
    font-weight: 200;
    font-size: .9rem;
    color: #fff;
}

.footNum:active,
.footNum:hover,
.footNum:visited {
    color: #fff;
    text-decoration: none;
}


/*Mobile Landscape CSS */

@media screen and (min-width:700px and max-width:900px) {

    body {
        background-color: #ffffff;
        font-family: 'Cantarell', sans-serif;
        overflow-x: hidden;
        padding-top: 5rem;
        width: 100%;
    }

    .navbar {
        position: fixed;
        width: 100%;
        min-height: 3rem;
    }

    .backCont {
        background-image: url(images/automotive-gauge-motorbike-115145.jpg);
        background-size: cover;
        width: 100%;
        height: 42rem;
    }

    .h1Cont {
        font-size: 5.5rem;
        font-weight: 300;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.);
        padding-top: 1rem;
        margin-left: auto;
        margin-right: auto;

    }

    .pCont {
        position: relative;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: -2rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 73%;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .btn-lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8rem;
    }

    .about {
        padding: 0 1rem 0 1rem;
        font-weight: 300;
        background-color: #B9B8B8;
    }

    #aboutText {
        padding-bottom: 3rem;
    }

    .aboutBody:last-child {
        padding-bottom: 4rem;
    }

    h1 {
        text-decoration: none;
        padding: 3rem 0 2rem 0;
        width: 100%;
    }

    #motoBike {}

    .street {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px dashed #FFCC00;
        margin: .5em 0;
        padding: 1rem 5rem 0rem 5rem;
    }

    #form-main {
        margin-top: 0rem;
    }

    .footNum {
        padding-left: 1rem;
        font-weight: 200;
        font-size: .9rem;
        color: #fff;
    }

}

/*Mobile CSS*/
@media screen and (max-width:699px) {

    body {
        background-color: #ffffff;
        font-family: 'Cantarell', sans-serif;
        overflow-x: hidden;
        padding-top: 5rem;
        width: 100%;
    }

    .navbar {
        position: fixed;
        width: 100%;
        min-height: 3rem;
    }

    .navbar-toggler {
        padding-top: 4rem;
        margin-bottom: 1rem;
    }

    .backCont {
        background-image: url(images/automotive-gauge-motorbike-115145.jpg);
        background-size: cover;
        width: 100%;
        height: 45rem;
    }

    .h1Cont {
        font-size: 3.4rem;
        font-weight: 300;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.0);
        padding-top: 2rem;
        margin-left: auto;
        margin-right: auto;

    }

    .pCont {
        position: relative;
        background-color: rgba(0, 0, 0, 0.7);
        margin-top: -1rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .btn-lg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12rem;
    }

    .about {
        padding: 0 1rem 0 1rem;
        font-weight: 300;
        background-color: #B9B8B8;
    }

    .aboutPhoto {
        display: block;
        margin-bottom: .5rem;
    }

    #aboutText {
        padding-bottom: 2rem;
    }



    h1 {
        text-decoration: none;
        padding: 3rem 0 2rem 0;
        width: 100%;
    }

    #motoBike {}

    .street {
        display: block;
        height: 1px;
        border: 0;
        border-top: 3px dashed #FFCC00;
        margin: .5em 0;
        padding: 1rem 5rem 0rem 5rem;
    }

    #form-main {
        margin-top: -.5rem;
    }

    .footer {
        align-content: center;
        background-color: #343a40;
        width: 100%;
    }

    .row {
        padding: .5rem .5rem .5rem .5rem;
    }

    .col-6 {
        border-right: 1px solid #fff;
    }

    .copyright {
        font-weight: 300;
        font-size: 1rem;
    }

    .copyright:active,
    .copyright:hover,
    .copyright:visited {
        color: #fff;
        text-decoration: none;
    }

    .footNum {
        padding-left: .5rem;
        font-weight: 200;
        font-size: .9rem;
        color: #fff;
    }

    .footNum:active,
    .footNum:hover,
    .footNum:visited {
        color: #fff;
        text-decoration: none;
    }


}
